<!doctype html>
<html>
   <body>
      <h2 style = "text-align: center;">Dodaj użytkownika</h2>


<form action="/webpostuser" method="POST">
        <label for="imie_i_nazwisko">Wprowadź imie i nazwisko:</label>
        <input type="text" id="imie_i_nazwisko" name="imie_i_nazwisko" required>
        <label for="email">Wprowadź email:</label>
        <input type="email" id="email" name="email" required>
        <label for="adres_uzytkownika">Wprowadź adres użytkownika:</label>
        <input type="text" id="adres_uzytkownika" name="adres_uzytkownika" required>
        <button type="submit">Send</button>
    </form>


   </body>

</html>
